{% load i18n %}{% autoescape off %}
{% blocktrans %}Parace que solicitaste un reestablecimiento de contraseña desde {{ site_name }}.{% endblocktrans %}
{% trans "Si fuiste tú, ingresa al siguiente link para escoger una nueva contraseña:" %} {% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Por si ya se te olvidó, tu nombre de usuario es:' %}
{{ user.get_username }}
{% trans "¡Gracias por usar nuestro sitio!" %}
{% blocktrans %}Atentamente, el equipo de {{ site_name }}{% endblocktrans %} {% endautoescape %}