<!-- ./plantillas/registration/password_change_form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- para actualizar el title de la app a la ruta actual -->
{% block title %} - Cambio de contraseña {% endblock title %}

{% block content %}
    <h1>Cambio de Contraseña</h1>
    <p>Por favor, introduzca su contraseña anterior, por razones de seguridad, y luego introduzca su nueva contraseña dos veces para verificar que la escribió correctamente</p>

    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success" type="submit" value="Cambiar contraseña">
    </form>

{% endblock content %}
    