<!-- ./plantillas/registration/password_reset_form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} - Cambiar contraseña {% endblock title %}

{% block content %}
    <h1>¿Olvidó su contraseña?</h1>
    <p>Introduzca su email, y le enviaremos instrucciones para establecer una nueva conraseña.</p>

    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-success" value="Enviarme instrucciones">
    </form>
{% endblock content %}
    
