<!-- ./plantillas/registration/password_reset_complete.html -->
{% extends 'base.html' %}


{% block title %} - Cambio de contraseña{% endblock title %}

{% block content %}
    <h1>Restablecimiento de contraseña completo</h1>
    <p>Su nueva contraseña ha sido restablecida. Puede iniciar sesión ahora en:</p>
    <a href="{% url 'login' %}" style="margin: 0 auto;" class="btn btn-primary">Iniciar sesión</a>
    <p>O puedes:</p>
    <a href="{% url 'inicio' %}" style="margin: 0 auto;" class="btn btn-secondary">Volver al inicio</a>
{% endblock content %}
    