<!-- ./plantillas/lista_articulos.html -->
{% extends 'base.html' %}


{% block title %} - Art&iacute;culos{% endblock title %}


{% block content %}
    
    {% for articulo in object_list %}
        <div class="card m-3">
            <div class="card-header">
                <a href="{% url 'detalle_articulo' articulo.pk %}">
                    <span class="font-weight-bold">{{ articulo.titulo }} </span>&middot;
                </a>
                <span class="text-muted">por {{articulo.autor}} escrito el {{articulo.fecha | date:"d F Y"}}</span>
            </div>
            <div class="card-body">
                {{articulo.cuerpo}}
            </div>
            
            {% if articulo.autor == user %}
                <div class="card-footer text-center text-muted">
                    <a
                    class="btn btn-link"
                    href="{% url 'editar_articulo' articulo.pk %}">
                    <i class="bi-pencil-fill"></i>Editar</a> | 
                    <a
                    class="btn btn-link"
                    href="{% url 'eliminar_articulo' articulo.pk %}"
                    style="color: red;">Eliminar</a>
                </div>
            {% endif %}
            
            {% if articulo.comentarios.all %}
                <div class="card-footer">
                    {% for comentario in articulo.comentarios.all %}
                    <p>
                        <span class="font-weight-bold">
                            {{ comentario.autor }} &middot;
                        </span>
                        {{comentario}}
                    </p>
                    <hr>
                    {% endfor %}
                </div>
            {% endif %}
                
        </div>
    {% endfor %}
        
{% endblock content %}
    